force-app/main/default/flows/Contact_SFRP_DeletePhotoAttachments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Deletion_List</name>
        <label>Add to Deletion List</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>attachment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attachmentsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>attachment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Ids</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FILE_PREFIX</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RecordPhoto-003</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_for_User_Permission</name>
        <label>Check for User Permission</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>No_User_Access_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User Access</defaultConnectorLabel>
        <rules>
            <name>User_Has_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Can_Delete_Record_Photos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>User Has Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Contact</name>
        <label>Check Get Contact</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Photo_Attachments</targetReference>
            </connector>
            <label>Got Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Photo_Attachments</name>
        <label>Check Get Photo Attachments</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Photos_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Photo Attachments Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Photo_Attachments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Photo_Attachments</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Photos_Screen</targetReference>
            </connector>
            <label>Got Photo Attachments</label>
        </rules>
    </decisions>
    <description>Screen flow for contact record pages. Allows authorized users to delete photo attachments.</description>
    <dynamicChoiceSets>
        <name>collChoicePhotoAttachments</name>
        <collectionReference>Get_Photo_Attachments</collectionReference>
        <dataType>String</dataType>
        <displayField>Body</displayField>
        <object>Attachment</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Contact SFRP DeletePhotoAttachments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact SFRP DeletePhotoAttachments</label>
    <loops>
        <name>Loop_through_Selected_Ids</name>
        <label>Loop through Selected Ids</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>RecordPhotoSelector.selectedIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Deletion_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Attachments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Attachments</name>
        <label>Delete Attachments</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>attachmentsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Photo_Attachments</name>
        <label>Get Photo Attachments</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Photo_Attachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>FILE_PREFIX</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attachment</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttErrorMessageDefault}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_User_Access_Screen</name>
        <label>No User Access Screen</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_User_Access_Screen_Message</name>
            <fieldText>&lt;p&gt;You do not have permission to perform this action. Contact your system administrator if this was received in error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Photos_Not_Found_Screen</name>
        <label>Photos Not Found Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Photos_Not_Found_Screen_Message</name>
            <fieldText>&lt;p&gt;No photo attachments were found for this contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Photos_Screen</name>
        <label>Select Photos Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_Selected_Ids</targetReference>
        </connector>
        <fields>
            <name>RecordPhotoSelector</name>
            <extensionName>c:recordPhotoSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Delete Photos</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Screen_Message</name>
            <fieldText>&lt;p&gt;Success! The selected photos have been deleted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_User_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttErrorMessageDefault</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>attachment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>attachmentsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
